<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <title>Java Forum-User Setting</title>
</head>
<body>
<div class="nk-container">
    <!-- Top -->
    <header th:replace="~{layout::header}"></header>

    <!-- Content -->
    <div class="main">
        <div class="container p-5 mt-3 mb-3">
            <!-- Upload avatar -->
            <h6 class="text-left text-info border-bottom pb-2">Upload avatar</h6>
            <form class="mt-5" method="post" enctype="multipart/form-data" th:action="@{/user/upload}">
                <div class="form-group row mt-4">
                    <label class="col-sm-2 col-form-label text-right">File:</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input type="file" th:class="|cutom-file-input ${error!=null ? 'is-invalid' : ''}|"
                                   id="head-image" name="headerImage" lang="es" required="">
                            <label class="custom-file-label" for="head-image" data-browse="Browse">file path</label>
                        </div>
                        <div class="invalid-feedback">
                            Please upload the image
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 text-center">
                        <button type="submit" class="btn btn-info text-white form-control">Upload</button>
                    </div>
                </div>
            </form>
            <!-- change the password-->
            <!--				<h6 class="text-left text-info border-bottom pb-2 mt-5">Change the password</h6>-->
            <!--				<form class="mt-5">				-->
            <!--					<div class="form-group row mt-4">-->
            <!--						<label for="old-password" class="col-sm-2 col-form-label text-right">The original password:</label>-->
            <!--						<div class="col-sm-10">-->
            <!--							<input type="password" class="form-control" id="old-password" placeholder="Please input the original password" required>-->
            <!--							<div class="invalid-feedback">-->
            <!--								The length of the password cannot be less than 8 bits-->
            <!--							</div>							-->
            <!--						</div>-->
            <!--					</div>-->
            <!--					<div class="form-group row mt-4">-->
            <!--						<label for="new-password" class="col-sm-2 col-form-label text-right">New password:</label>-->
            <!--						<div class="col-sm-10">-->
            <!--							<input type="password" class="form-control" id="new-password" placeholder="Please input the new password" required>-->
            <!--							<div class="invalid-feedback">-->
            <!--								The length of the password cannot be less than 8 bits-->
            <!--							</div>							-->
            <!--						</div>-->
            <!--					</div>-->
            <!--					<div class="form-group row mt-4">-->
            <!--						<label for="confirm-password" class="col-sm-2 col-form-label text-right">Check password:</label>-->
            <!--						<div class="col-sm-10">-->
            <!--							<input type="password" class="form-control" id="confirm-password" placeholder="Please input your new password again" required>-->
            <!--							<div class="invalid-feedback">-->
            <!--								Two passwords are inconsistent-->
            <!--							</div>								-->
            <!--						</div>-->
            <!--					</div>				-->
            <!--					<div class="form-group row mt-4">-->
            <!--						<div class="col-sm-2"></div>-->
            <!--						<div class="col-sm-10 text-center">-->
            <!--							<button type="submit" class="btn btn-info text-white form-control">Save</button>-->
            <!--						</div>-->
            <!--					</div>-->
            <!--				</form>				-->
        </div>
    </div>

    <!-- Bottom -->
    <div th:replace="~{layout :: footer}"></div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"
        crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>
</body>
</html>
