<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/img/forum_logo.png}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <title>Java Forum-HomePage</title>
</head>
<body>
<div class="nk-container">
    <!-- Top -->
    <header th:replace="~{layout::header}"></header>

    <!-- Content -->
    <div class="main">
        <div class="container">
            <div class="position-relative">
                <!-- Filter criteria -->
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">New</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Hot</a>-->
<!--                    </li>-->
                </ul>
                <button type="button" class="btn btn-primary btn-sm position-absolute rt-0" data-toggle="modal"
                        data-target="#publishModal" th:if="${loginUser!=null}">Write
                </button>
            </div>
            <!-- Pop-up box -->
            <div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!--Post a new post								-->
                            <h5 class="modal-title" id="publishModalLabel">Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Title：</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Content：</label>
                                    <textarea class="form-control" id="message-text" rows="15"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="publishBtn">Post</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hint panel -->
            <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hintModalLabel">hints</h5>
                        </div>
                        <div class="modal-body" id="hintBody">
                            Posted Successfully
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post List -->
            <ul class="list-unstyled">
                <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${discussPosts}">
                    <a href="site/profile.html">
                        <img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" alt="Header"
                             style="width:50px;height:50px;">
                    </a>
                    <div class="media-body">
                        <h6 class="mt-0 mb-3">
                            <a th:href="@{|discuss/detail/${map.post.id}|}" th:utext="${map.post.title}">Post Title</a>
                            <span class="badge badge-secondary bg-primary"
                                  th:if="${map.post.type==1}">Pin</span>
                            <span class="badge badge-secondary bg-danger"
                                  th:if="${map.post.status==1}">Highlight</span>
                        </h6>
                        <div class="text-muted font-size-12">
                            <b th:text="${#dates.format(map.post.createTime, 'MM-dd-yyyy HH:mm:ss')}">07-04-2024
                                15:32:18</b>
                            <ul class="d-inline float-right">
                                <li class="d-inline ml-2">Like(<i th:text="${map.likeCount}">1</i>)</li>
                                <li class="d-inline ml-2">|</li>
                                <li class="d-inline ml-2">Reply(<i th:text="${map.post.commentCount}"></i>)</li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- Tab Page -->
            <nav class="mt-5" th:if="${page.postTotalCount>0}" th:fragment="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{${page.tabPath}(currentPageNum=1)}">Home</a>
                                                                        <!-- /index?currentPageNumber=1                       -->
                    </li>
                    <li class="page-item" th:classappend="${page.currentPageNum == 1 ? ' disabled' : ''}">
                        <a class="page-link" th:href = "@{${page.tabPath}(currentPageNum = ${page.currentPageNum - 1})}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${page.currentPageNum == i ? 'active' : ''}" th:each="i:${#numbers.sequence(page.startPageNum,page.endPageNum)}">
                        <a class="page-link" th:href="@{${page.tabPath}(currentPageNum = ${i})}" th:text="${i}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${page.currentPageNum == page.totalPageCount ? ' disabled' : ''}">
                        <a class="page-link" th:href="@{${page.tabPath}(currentPageNum=${page.currentPageNum < page.totalPageCount ? page.currentPageNum + 1 : page.totalPageCount})}">Next</a>
                    </li>
                    <li class="page-item" th:classappend="${page.currentPageNum == page.totalPageCount ? ' disabled' : ''}">
                        <a class="page-link" th:href="@{${page.tabPath}(currentPageNum=${page.totalPageCount})}">Last page</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Bottom -->
    <div th:replace="~{layout :: footer}"></div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
