<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" th:href="@{/img/forum_logo.png}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/global.css}"/>
  <title>Java Forum-HomePage</title>
</head>
<body>
<div class="nk-container">
  <!-- Top -->
  <header class="bg-dark sticky-top" th:fragment="header">
    <div class="container">
      <!-- navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- logo -->
        <a class="navbar-brand" th:href="@{/index}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Features -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-3 btn-group-vertical">
              <a class="nav-link" th:href="@{/index}">Home Page</a>
            </li>
            <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser!=null}">
              <a class="nav-link position-relative" href="site/letter.html">Message<span
                      class="badge badge-danger">12</span></a>
            </li>
            <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
              <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
              <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img th:src="${loginUser.headerUrl}" class="rounded-circle"
                     style="width:30px;"/>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-center" href="site/profile.html">Personal homepage</a>
                <a class="dropdown-item text-center" href="site/setting.html">Account settings</a>
                <a class="dropdown-item text-center" th:href="@{/logout}">Log out</a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">Username</span>
              </div>
            </li>
          </ul>
          <!-- Search -->
          <form class="form-inline my-2 my-lg-0" action="site/search.html">
            <input class="form-control mr-sm-2" type="search" aria-label="Search"/>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </header>


  <!-- Bottom -->
  <footer class="bg-dark" th:fragment="footer" >
    <div class="container">
      <div class="row">
        <!-- Qrcode -->
        <div class="col-4 qrcode">
          <img th:src="@{/img/forum_logo.png}" class="img-thumbnail" alt="Forum Logo" style="width: 136px;">

        </div>
        <!-- Company information -->
        <div class="col-8 detail-info">
          <div class="row">
            <div class="col">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">Join us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">Service</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">Disclaimer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">links</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul class="nav btn-group-vertical company-info">
                <li class="nav-item text-white-50">
                  Company address: Taipei
                </li>
                <li class="nav-item text-white-50">
                  Contact information:：04-26OOOOOO&nbsp;&nbsp;&nbsp;&nbsp;xxx-xxxxx@gmail
                </li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>


</body>
</html>
